@model Guestbook
<a class="Link" asp-area="" asp-controller="Guestbook" asp-action="Index">Back</a>
<br/>
<br/>
    <br>
    <form method="post" class="div1">
        <div class="add">
            <h3>Name:</h3>
            <input asp-for="Name" id="Name" placeholder="Ola Nordmann"/>
            <br>
            <h3>Title:</h3>
            <input asp-for="Title" id="Title" placeholder="Sjef"/>
            <br>
            <h3>Message:</h3>
            <textarea asp-for="Message" id="Message" class="message" placeholder="Write message here!"></textarea>
            <br/>
            <button id="Submit" class="submit">Submit</button>
        </div>
    </form>
    <br>
