@model IEnumerable<assignment_4.Models.Blog>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Blog</h1>
    <p>Login to se blog <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>.</p>
</div>