@{
    ViewData["Title"] = "About";
}
<body class="aboutme">
<div class="text-center">
    <h2 class="display-4">About Me</h2>
</div>

<div class="div1">
    <div class="div2">
        <h2>Bakgrunn:</h2>
        <br>
        <ol>
            <li>Født i Kongsberg, 18.05.2000</lI>  
            <lI>Vokst opp i Heddal, Notodden</lI>
            <lI>Flyttet hjemmefra i 2019</lI>
            <lI>Bodd i Verdal et år</lI>
            <lI>Bodd i Trondheim i to år</lI>
            <lI>Bodd i Grimstad i et år</lI>
            <lI>Bor nå i <strong>Kristiansand!</strong></lI>
        </ol>
    </div>
    <div class="div3">
        <h2>Interesser</h2>
        <br>
        <ul>
            <lI class="li1">Rullebrett</lI>
            <lI class="li1">Counter-strikke</lI> 
            <lI class="li1">Andre dataspill</lI>
            <lI class="li1">Trening</lI>
            <lI class="li1">Musikk (<em>utøvende</em> og <em>lytting</em>)</lI>
            <lI class="li1">Spise mat</lI>
            <lI class="li1">Minigolf og øl</lI>
        </ul>
    </div>
</div>
<br>

<div class="div5">
    <br>
    <h4>Dette er en tabel</h4>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">:)</th>
          <th scope="col">Kjøtt</th>
          <th scope="col">Fisk</th>
          <th scope="col">Ost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Okse</td>
          <td>Ørret</td>
          <td>Norvegia</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Hjort</td>
          <td>Laks</td>
          <td>Sunnøve</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Svin</td>
          <td>Torsk</td>
          <td>Jarlsber</td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
</div>
<br>
<div class="div4">
    <h2>Her kan du lese historien om hvorfor jeg flyttet fra Grimstad og et meme:</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <p> Det var en mørk og stormfull aften, hadde akkuratt kjørt hele veien fra Notodden til Kristiansand og tilbake til Grimstad.
                Påskeferien var ferdig, hadde sluppet av dama i Kristiansand fordi hun skulle jobbe dagen etter. Påskeferien hadde vært 
                fin men lykken skulle fort snu. når jeg hadde parkert bilen og gikk ned den bratte steintrappa til huset, ante jeg fred 
                og ingen fare. når jeg tok i dørhåndtaket merket jeg at det ikke var låst, men jeg dro fra huset sist og var sikker på 
                at jeg hadde låst. Jeg gikk sakte inn og så at huset var et kaos, gikk inn på bade alt var dratt utover og jeg så nå at 
                vinduet hadde blitt brutt opp. gikk inn i stua der var to gitarer en laptop og all spriten stjålet. Inne på kjøkkenet 
                lå alt utover bordet og benken. I fryseren var det tomt for kylling og ingen spekepølse å finne kjøleskapet. Vaflene 
                jeg stekte før jeg dro og puttet i kjøleskapet, lå bare smult utover kjøkken og stue. 
                Derfor vil jeg aldri bo her igjen.</p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="https://baldwinsmith25.files.wordpress.com/2020/07/8.jpg" class="rounded" width="50%">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
    <div class="div4">
        <br>
        <h3>Spørsmål Til Meg:</h3>
        <form class="mt-2 w-50 m-auto">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="QUESTION">
            <div class = "input-group-append">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">CONFIRM</button>
            </div>
            </div>
        </form>

        <br>
        <br>
    </div>
</body>