h2{
    font-family: Banco;
    font-size: 60px;
    text-align: center;
    color: #ffdc1a;
}
h3{
    font-family: "Cowboy Hippie Pro";
    font-size: 30px;
    margin-left: 12%;
    margin-right: 12%;
}

ol{
    font-family: "HVD Steinzeit";
    font-size: 30px;
    margin-left: 15%;
    text-align: left;
}
.li1{
    font-family: "HVD Steinzeit";
    font-size: 30px;
    margin-left: 15%;
    text-align: left;
}

.div1 {
    width: 100%;
    overflow: hidden;
}

.div2 {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 20px black;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: left;
    box-shadow: rgba(0,0,0,0.50) 0px 14px 28px, rgba(0,0,0,0.42) 0px 10px 10px;
    float:left;
}

.div3 {
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 20px black;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: left;
    box-shadow: rgba(0,0,0,0.50) 0px 14px 28px, rgba(0,0,0,0.42) 0px 10px 10px;
    float:left;
}

.div4 {
    width: 90%;
    margin-left: 5%;
    border: 20px black;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    box-shadow: rgba(0,0,0,0.50) 0px 14px 28px, rgba(0,0,0,0.42) 0px 10px 10px;
}

.div5 {
    width: 60%;
    margin-left: 20%;
    border: 20px black;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    box-shadow: rgba(0,0,0,0.50) 0px 14px 28px, rgba(0,0,0,0.42) 0px 10px 10px;
}

.aboutme {
    background-image: url("https://images.wallpaperscraft.com/image/single/man_skateboard_jump_192212_3840x2160.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



