.Link{
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #58ffb9;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 25px;
}
.div1{
    width: 50%;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 25px;
}
h3{
    margin-left: 25%;
}
input{
    margin-left: 25%;
    width: 50%;
}
.message{
    margin-left: 25%;
    width: 50%;
}
.submit{
    margin-left: 80%;
    width: 15%;
    border-radius: 25%;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
}