<div class="cont">
    <div class="Calculator">
        <input type="text" placeholder="0" id="display">
        <button id="reset" onclick="C()">C</button>
        <button id="clear" onclick="CE()">CE</button>
        <button id="pros" onclick="pros()">%</button>
        <button id="divide" onclick="entry('/')">/</button>
        <button id="seven" onclick="entry('7')">7</button>
        <button id="eight" onclick="entry('8')">8</button>
        <button id="nine" onclick="entry('9')">9</button>
        <button id="multiply" onclick="entry('*')">*</button>
        <button id="four" onclick="entry('4')">4</button>
        <button id="five" onclick="entry('5')">5</button>
        <button id="six" onclick="entry('6')">6</button>
        <button id="minus" onclick="entry('-')">-</button>
        <button id="one" onclick="entry('1')">1</button>
        <button id="two" onclick="entry('2')">2</button>
        <button id="three" onclick="entry('3')">3</button>
        <button id="plus" onclick="entry('+')">+</button>
        <button id="zero" onclick="entry('0')">0</button>
        <button id="dot" onclick="entry('.')">.</button>
        <button id="equals" onclick="calculate()" class="equal">=</button>
    </div>
</div>